{% extends clonemodelmixin_super_template %}

{% load adminmedia admin_list i18n %}

{% block extrahead %}{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}utilities/js/jquery-1.6.4.min.js"></script>
	<script>
	    $(document).ready(function() {
	        $('.move_to_submit_row').insertBefore('.submit-row>input:first');
	    });
	</script>
{% endblock extrahead %}

{% block after_field_sets %}{{ block.super }}

<input value="{% trans "Klonovat" %}" class="move_to_submit_row" name="_clone" type="submit" />
{% endblock after_field_sets %}