<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
	</head>
	
	{% for css in media.css.print %}
		<link rel="stylesheet" type="text/css" href="{{ css }}"  media="print" />{% endfor %}
	
	{% for css in media.css.screen %}
		<link rel="stylesheet" type="text/css" href="{{ css }}"  media="screen" />{% endfor %}
	
	{% for js in media.js %}
		<script type="text/javascript" src="{{ js }}"></script>{% endfor %}
	<base>
		<table style="margin: 20px auto;">
			{% for row in dashboard_table %}
				<tr>
					{% for col in row %}
						<td style="border: none; padding: 15px 30px;" colspan="{{ col.colspan }}">{{ col.html }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</base>
</html>