<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
	
		<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/static/utilities/jqplot/js/excanvas.min.js"></script><![endif]-->
		
		{% for css in media.css.print %}
			<link rel="stylesheet" type="text/css" href="{{ css }}"  media="print" />{% endfor %}
		
		{% for css in media.css.screen %}
			<link rel="stylesheet" type="text/css" href="{{ css }}"  media="screen" />{% endfor %}
		
		{% for js in media.js %}
			<script type="text/javascript" src="{{ js }}"></script>{% endfor %}
		
	</head>
	<body>
				
		<table style="margin: 20px auto;">
			{% for row in dashboard_table %}
				<tr>
					{% for col in row %}
						<td style="border: none; padding: 15px 30px;" colspan="{{ col.colspan }}">{{ col.html }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</body>
</html>