{% extends dashboardmixin_super_template %}

{% load adminmedia admin_list i18n %}

{% block extrahead %}
	{{ block.super }}
	{% if show_dashboard %}
		<script type="text/javascript">
			$(document).ready(function() {
		    	$(".dashboard-link").colorbox({iframe: true, width:"1000px", height:"90%", opacity: 0.7});
		    });  
		</script>
	{% endif %}
{% endblock extrahead %}

{% block object-tools-items %}
	{% if show_dashboard %}	
    	<li><a href="./dashboard/{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING|safe }}{% endif %}" class="dashboard-link">{% trans 'Statistic' %}</a></li>
    {% endif %}
    {{block.super}}
{% endblock %}
