<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
	</head>
	
	<link class="include" rel="stylesheet" type="text/css" href="/static/utilities/jqplot/css/jquery.jqplot.min.css" />
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/static/utilities/jqplot/js/excanvas.js"></script><![endif]-->
    <script class="include" type="text/javascript" src="/static/utilities/js/jquery-1.6.4.min.js"></script>

	
	<base>
		<table style="margin: 20px auto;">
			{% for row in dashboard_table %}
				<tr>
					{% for col in row %}
						<td style="border: none; padding: 15px 30px;" colspan="{{ col.colspan }}">{{ col.html }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
		
		
		
			<script class="include" type="text/javascript" src="/static/utilities/jqplot/js/jquery.jqplot.min.js"></script>
			
			<!-- Additional plugins go here -->
			
			<script class="include" type="text/javascript" src="/static/utilities/jqplot/js/jquery.jqplot.min.js"></script>
			<script class="include" type="text/javascript" src="/static/utilities/jqplot/js/plugins/jqplot.barRenderer.min.js"></script>
			<script class="include" type="text/javascript" src="/static/utilities/jqplot/js/plugins/jqplot.pieRenderer.min.js"></script>
			<script class="include" type="text/javascript" src="/static/utilities/jqplot/js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
			<script class="include" type="text/javascript" src="/static/utilities/jqplot/js/plugins/jqplot.dateAxisRenderer.min.js"></script>
			<script class="include" type="text/javascript" src="/static/utilities/jqplot/js/plugins/jqplot.canvasTextRenderer.min.js"></script>
			<script class="include" type="text/javascript" src="/static/utilities/jqplot/js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
			<script class="include" type="text/javascript" src="/static/utilities/jqplot/js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
			<script class="include" type="text/javascript" src="/static/utilities/jqplot/js/plugins/jqplot.pointLabels.min.js"></script>

	</base>
	
</html>