{% extends pagingmixin_super_template %}

{% load i18n %}

{% block object-tools-items %}
    {{block.super}}
    {% if prev_obj or next_obj %} <li class="separator">|</li> {% endif %}
    {% if prev_obj %}<li><a href="../../../{{ prev_obj.app }}/{{ prev_obj.obj }}/{{ prev_obj.pk }}/" class="prevlink"><span class="ico"></span>{% trans 'Previous' %} {{ prev_obj.verbose_name }}</a></li>{% endif %}
    {% if next_obj %}<li><a href="../../../{{ next_obj.app }}/{{ next_obj.obj }}/{{ next_obj.pk }}/" class="nextlink"><span class="ico"></span>{% trans 'Next' %} {{ next_obj.verbose_name }}</a></li>{% endif %}
{% endblock %}
